<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.disscheng.weblog.mapper.CommentMapper">
    <!-- 评论分页查询 -->
    <select id="queryComment" resultType="com.disscheng.weblog.pojo.entity.Comment">
        SELECT * FROM t_comment
        <where>
            <if test="isPrimary != null">
                AND is_primary = #{isPrimary}
            </if>
            <if test="articleId != null">
                AND article_id = #{articleId}
            </if>
            <if test="rootId != null">
                AND root_id = #{rootId}
            </if>
        </where>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 游标查询 -->
    <select id="cursorQuery" resultType="com.disscheng.weblog.pojo.entity.Comment">
        SELECT * FROM t_comment
        <where>
            <if test="isPrimary != null">
                AND is_primary = #{isPrimary}
            </if>
            <if test="articleId != null">
                AND article_id = #{articleId}
            </if>
            <if test="cursor != null">
                AND create_time &lt; #{cursor}
            </if>
        </where>
        ORDER BY create_time DESC
        LIMIT 0, #{pageSize}
    </select>

    <!-- 插入评论 -->
    <insert id="insertComment"
            useGeneratedKeys="true"
            keyProperty="id">          <!-- 对应 Comment 实体里的主键属性名 -->
        INSERT INTO t_comment
        (author_id, author_name, to_author_id, to_author_name, reply_id, root_id, article_id,
        content, is_primary, create_time, update_time, is_deleted)
        VALUES
        (#{authorId}, #{authorName}, #{toAuthorId},#{toAuthorName}, #{replyId}, #{rootId}, #{articleId},
        #{content}, #{isPrimary}, NOW(), NOW(), 0)
    </insert>

    <!-- 更新评论 -->
    <update id="updateComment">
        UPDATE t_comment
        <set>
            <if test="replies != null">
                replies = #{replies},
            </if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
        AND is_deleted = 0
    </update>

    <!-- 更新评论回复数 -->
    <update id="updateCommentReplies">
        UPDATE t_comment
        <set>
            replies = replies+1,
            update_time = NOW()
        </set>
        WHERE id = #{id}
        AND is_deleted = 0
    </update>

    <!-- 查询文章一级评论数 -->
    <select id="countComment" resultType="long">
        SELECT COUNT(1)
        FROM t_comment
        WHERE article_id = #{articleId}
          AND is_primary = 1
    </select>
</mapper>